*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-family : "ABeeZee",sans-serif;
}

@media only screen and (min-width: 1200px) {
    .left{
        float : left;
        width : 50%;
        height : 100%;
    }

    .heading{
        margin-top : 10%;
        margin-left : 3%;
    }

    .about{
        margin-top : 10%;
        margin-left : 3%;
        width : 90%;
        font-size : 1.2rem;
    }

    .button{
        background : white;
        transition : ease-in-out 300ms;
        margin-top : 9%;
        padding : 1rem 1.5rem 1rem 1.5rem;
        font-size : 1.2rem;
        border : gray;
        border-radius : 1rem;
        box-shadow : 0px 0px 9px gray
    }

    #reg{
        background : rgb(39, 62, 121);
        color : white;
    }

    .button:hover{
        background : rgb(39, 62, 121);
        color : white;
    }

    .right{
        float : right;
        width : 46%;
        height : 100%;
        border : solid black;
        border-radius : 2rem;
        margin-right : 3%;
        background: white;
        box-shadow:0px 0px 9px gray;
    }

    .regpdf{
        margin-top:0.5%;
        width : 99%;
        height : 99%;
        border : solid black;
        border-radius : 1.9rem;
    }

    .curmap{
        background-image : url("background.png");
        background-repeat: no-repeat;
        background-size : cover;
        background-position: -5px -1px;
        float : right;
        width : 46%;
        height : 100%;
        border : solid black;
        border-radius : 2rem;
        margin-right : 3%;
        box-shadow:0px 0px 9px gray;
    }

    .btn{
        background : white;
        transition : ease-in-out 300ms;
        padding : 0.6rem 1rem 0.6rem 1rem;
        font-size : 1rem;
        border : solid gray;
        border-radius : 1rem;
    }

    .lht{
        margin-left : 15%;
    }

    .rht{
        margin-left : 63%;
    }

    .btn:hover{
        background : rgb(39, 62, 121);
        color : white;
    }

    #curfullpdf,#semesterpdf{
        background : white;
        transition : ease-in-out 300ms;
        padding : 0.6rem 1rem 0.6rem 1rem;
        font-size : 1.1rem;
        border : solid gray;
    }

    #curfullpdf:hover,#semesterpdf:hover{
        background : rgb(39, 62, 121);
        color : white;
    }

    .sssss{
        color :rgb(69, 90, 141)
    }

    .semester{
        float : right;
        width : 46%;
        height : 100%;
        border : solid black;
        border-radius : 2rem;
        margin-right : 3%;
        background: white;
        box-shadow:0px 0px 9px gray;
    }

    .sub{
        width : 260px;
        height : 90px;
        border : solid rgb(184, 181, 181);
        margin-left : -3.5%;
        transition : ease-in-out 100ms;
    }

    .sub:hover{
        border : solid gray;
        background : rgb(238, 238, 238);
    }

    .maintable{
        margin-left : 4.25%;
        width : 100%;
    }

    #curmapphone{
        display : none;
    }

    #mainphone{
        display : none;
    }
}
@media only screen and (max-width: 768px) {
    .button{
        background : white;
        transition : ease-in-out 300ms;
        margin-top : 9%;
        padding : 1rem 1.5rem 1rem 1.5rem;
        font-size : 1rem;
        border : gray;
        border-radius : 1rem;
        box-shadow : 0px 0px 9px gray
    }

     .right{
        display : none;
    }

     .heading{
        margin-top : 10%;
        margin-left : 3%;
    }

    .about{
        margin-top : 10%;
        margin-left : 3%;
        width : 90%;
        font-size : 1rem;
        text-align:justify;
    }

    #mainphone{
        width : 90%;
        margin-left : 5%;
        margin-top : 3%;
        border : solid black;
        border-radius : 2rem;
        background: white;
        box-shadow:0px 0px 9px gray;
    }

    .btn{
        background : white;
        transition : ease-in-out 300ms;
        font-size : 1rem;
        border : solid gray;
        width : 70%;
        padding : 0.5rem;
        border-radius : 0.3rem;
    }

    .btn:hover{
        background : rgb(39, 62, 121);
        color : white;
    }

     #curfullpdf,#semesterpdf{
        background : white;
        transition : ease-in-out 300ms;
        padding : 0.3rem 0.3rem 0.3rem 0.3rem;
        font-size : 0.95rem;
        border : solid gray;
    }

    #curfullpdf:hover,#semesterpdf:hover{
        background : rgb(39, 62, 121);
        color : white;
    }

    #reg{
        background : rgb(39, 62, 121);
        color : white;
    }

    .sub{
        width : 100%;
        height : 60px;
        border : solid rgb(184, 181, 181);
        transition : ease-in-out 100ms;
    }

    .sub:hover{
        border : solid gray;
        background : rgb(238, 238, 238);
    }
}